<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ebox.mapper.ImageMapper">

<!-- 	   
	
	

-->

	<insert id="insert" >

		INSERT INTO
			tbl_movie_pm ( iPath, iType, iRegdate, refMno, iName, iSize )
		VALUES
			( #{iPath}, #{iType}, NOW(), #{refMno}, #{iName}, #{iSize})

	</insert>

	<delete id="delete">
		
		DELETE FROM 
			tbl_movie_pm 
		WHERE 
			iNo=#{iNo}
			
	</delete>
	
	<delete id="deleteByMno">
		
		DELETE FROM 
			tbl_movie_pm 
		WHERE 
			refMno=#{refMno}
			
	</delete>

	<select id="selectAll" resultType="ImageVO">

		SELECT
			*
		FROM
			tbl_movie_pm 
		WHERE 
			refMno=#{mNo} 
		ORDER BY
			iNo DESC
		
	</select>
	
	<select id="selectWithMnoAndType" resultType="ImageVO">

		SELECT
			*
		FROM
			tbl_movie_pm 
		WHERE 
			refMno=#{mNo} AND iType=#{iType}
		ORDER BY
			iNo DESC
		
	</select>
	
	<select id="selectById" resultType="ImageVO">

		SELECT
			*
		FROM
			tbl_movie_pm 
		WHERE 
			iNo=#{iNo}
		
	</select>


</mapper>










