@CHARSET "UTF-8";


a{ cursor: pointer; }

#page-wrapper {	min-height: 900px; }


.page-header small { margin-left: 20px; }
.panel-footer .btn { padding: 7px 12px; }


.form-group { margin-bottom: 10px; }
.form-group label { padding-left: 5px; }

.form-group .checkbox-inline,
.form-group .radio-inline 
{ padding-left: 20px; }


.btn, .form-control, .panel { border-radius: 2px; }


.btn-submit { background: #333;	color: #dedede; }


.checkbox label, 
.radio label
{ padding-left: 20px; }


.help-block { padding-left: 5px; color: red; margin: 0;	visibility: hidden; }
.add-tip{ font-size: 11px;  color: #8e8e8e;	vertical-align: middle; }


.table-control-btn-box { margin-bottom: 40px; }



table {	table-layout: fixed; font-size: 13px; }

.table-1-head-row th, .table-1-body-row td { text-align: center; }
.table-1-body-row td:nth-child(1) { padding: 0 }
.table>thead>tr { background: #222;	color: #fff; }
.table>thead>tr>th { padding: 10px 0;	font-weight: lighter; }


table>thead>tr>th:FIRST-CHILD {	border-top-left-radius: 2px; }
table>thead>tr>th:last-child { border-top-right-radius: 2px; }
table>tbody>tr:last-child>td:FIRST-CHILD { border-bottom-left-radius: 2px; }
table>tbody>tr:last-child>td:last-child { border-bottom-right-radius: 2px; }


/* check box col */
.table-1-body-row td:nth-child(1) input[type="checkbox"] { vertical-align: middle;	margin: 0; }
.table-1-body-row td:nth-child(1) label { display: block;	margin-bottom: 0px; }


.divider1:BEFORE { content: "|"; padding: 0 15px 0 0px;	color: gray; }


.btn-with-checkbox { padding: 0 }
.btn-with-checkbox label { margin-bottom: 0; padding: 5px 10px 6px; }
.btn-with-checkbox input[type="checkbox"] {	vertical-align: middle;	margin: 0; }


.pager-box { background: transparent; text-align: center; }
.pager-box ul { margin: 0 }

.pagination>li>a, .pagination>li>span {	border: 0 }
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
    color: #337ab7;
    background-color: transparent;  
    border-bottom: 2px solid #337ab7;
} 


.pagination>li:last-child>a, 
.pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.pagination>li:first-child>a, 
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


.btn-submit { background: #333; color: #fff; }
.btn-update-complete { background: #333; color: #fff; }


.table-btn-group>button { margin-right: 5px; }
.table-btn-group .btn-with-checkbox { margin-right: 5px; }
.table-btn-group .btn-with-checkbox1 { margin-right: 5px; }
.table-btn-group .btn-with-checkbox2 { margin-right: 5px; display: none; }
.table-btn-group .btn-muti-remove2 { display: none; }


.modal-body:AFTER{ content: ""; clear: both; display: block; }
.modal-content{	border-radius:2px;} 
/* -------------------------------------------------------------------- */
.ui-widget-content .ui-state-active {
    background: #676767;
    font-weight: normal;
    border: 1px solid #d2d2d2;
    color: white;
    /* 	border: 1px solid #eaeaea; */
	/* 	border: 0; */
	/* background: #99a2b5; */
	/* color: #383838; */
    /* background: gray; */
    
}