@CHARSET "UTF-8";

#panel-body-have-theater-table {min-height: 480px;}

/* .form-inline .form-group {
	display: inline-block;
	width: auto;
} */
/* .form-group {
	display: inline-block
}

.form-inline .form-control, .btn {
	display: inline-block !important;
	width: auto;
	vertical-align: middle;
}
 */
 
.help-block {visibility: hidden; margin-bottom: 0}
.form-btn-group>button {width: 100px;}
.form-btn-group {/* margin: 10px 0; */; margin: 20px 0;}
.pagination {margin: 0 0 10px;}


/* --------------------------------------------- */
/* 테이블 */
th, td {text-align: center;}

.thead-col-1 {min-width: 50px;}
.thead-col-2 {min-width: 150px;}
.thead-col-3 {min-width: 100px;}
.thead-col-4 {min-width: 120px;}
.thead-col-5 {}
.thead-col-6 {}
.thead-col-7 {}
.thead-col-8 {min-width: 100px;}

/* --------------------------------------------- */
.tbody-col-1 {padding: 0 !important; height: 100%;}
.tbody-col-1>label {width: 100%; height: 100%; padding-top: 8px; cursor: pointer;}
.tbody-col-1>label>input {cursor: pointer;}
.tbody-col-2 {}
.tbody-col-3 {}
.tbody-col-4 {}
.tbody-col-5 {}
.tbody-col-6 {}
.tbody-col-7 {}
.tbody-col-8 {}

/* --------------------------------------------- */





